{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>
      {% block title %}
        DjangoApp
      {% endblock %}
    </title>
  </head>

  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="{% url 'products:list' %}">Products</a>
      <a href="{% url 'products:new' %}">Novo Produto</a>
      {% if user.is_authenticated %}
        <form class="logout" action="{% url 'users:logout' %}" method="POST">
          {% csrf_token %}
          <button class="logout-button">Logout</button>
        </form>
      {% else %}
        <a href="{% url 'users:register' %}">SignUp</a>
        <a href="{% url 'users:login' %}">Login</a>
      {% endif %}

      <a href="/admin">Admin</a>
    </nav>
    <main>
      {% block content %}

      {% endblock %}
    </main>
  </body>
</html>
